name: Serenity BDD Tests - Windows

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
      - 'feature/*'
      - 'fix/*'
  pull_request:

permissions:
  contents: read

jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        java-version: ['17']


    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar y Cachear Java y Gradle
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: 'gradle'

      - name: Dar permisos de ejecución al Gradle Wrapper
        if: startsWith(runner.os, 'Linux')
        run: chmod +x ./gradlew

      - name: Ejecutar pruebas Serenity BDD
        run: ./gradlew clean test --stacktrace -i
        shell: bash

      - name: Subir reportes de Serenity como artefacto
        uses: actions/upload-artifact@v4
        with:
          name: serenity-report-${{ matrix.os }}
          path: target/site/serenity
          compression-level: 9